[include]
    path = "~/.gitconfig.prepend"

[core]
    autocrlf = input
    editor = nvim

[remote "origin"]
    tagopt = --tags

[alias]
    uncommmit = reset --soft HEAD^

[core]
    excludesfile = "~/.gitignore"

[pager]
    branch = false

[oh-my-zsh]
    hide-status = 0
