[include]
  path = "~/.gitconfig.prepend"

[log]
  date = relative

[format]
  pretty = format:%C(yellow)%h %Cblue%>(12)%ad %Cgreen%<(7)%aN%Cred%d %Creset%s

[init]
  defaultBranch = main

[core]
  autocrlf = input
  editor = nvim
  excludesfile = "~/.gitignore"

[diff]
  algorithm = histogram
  colorMoved = plain
  mnemonicPrefix = true
  renames = true

[push]
  default = simple
  autoSetupRemote = true
  followTags = true

[fetch]
  prune = true
  prunteTags = true
  all = true

[column]
  ui = auto

[branch]
  sort = committerdate

[tag]
  sort = version:refname

[remote "origin"]
  tagopt = --tags

[alias]
  uncommmit = reset --soft HEAD^

[pager]
  branch = false

[oh-my-zsh]
  hide-status = 0
